/* wrok sans font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* common shared style */
* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}
.tittle {
  font-size: 2.8rem;
  font-weight: 700;
  color: #424242;
}
.description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}
.btn-primary {
  background-color: #ff900e;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 20px 25px;
  cursor: pointer;
}

/* header section style */
header {
  background: rgba(255, 144, 14, 0.1);
  margin-bottom: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 230px 0 228px;
  /* border: 2px solid black; */
}
nav ul {
  display: flex;
  /* border: 2px solid black; */
}
nav li {
  list-style: none;
  margin-left: 55px;
}
nav a {
  text-decoration: none;
  color: #424242;
}
.banner {
  margin: 116px auto 50px auto;
  padding-bottom: 20px;
  /* border: 2px solid black; */
}
.banner-content {
  max-width: calc(max-content-10px);
  text-align: center;
  margin: 0 auto 50px auto;
  /* border: 2px solid black; */
}
.banner-tittle {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}
.banner-description {
  margin: 32px 0;
  padding: 0px 320px;
}
.image {
  max-width: 90vw;
  margin: 0 auto;
}
.image img {
  width: 100%;
}

/* main section style */

/* feature-1 section */
.feature-container {
  /* display: flex; */
  margin: 0 auto;
  max-width: 82vw;
  display: flex;
  gap: 60px;
  margin-bottom: 130px;
  /* border: 2px solid black; */
}
.team-iamge {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px;
  /* border: 2px solid black; */
}
.feature-content {
  margin: auto 0;
}
.feature-tittle {
  color: #ff900e;
  font-size: 2.8rem;
  font-weight: 700;
}
.quick-list {
  color: #727272;
  font-weight: 500;
}
.of-our {
  color: #131313;
}
.fature-description {
  margin: 24px 0 32px 0;
}

/* feature-2 section */

.faature-container2 {
  max-width: 90vw;
  display: flex;
  margin: 0 auto;
  gap: 120px;
}
.faature-container2 h3 {
  border-left: 5px solid #ff900e;
  padding-left: 21px;
}
.faature-container2 .description {
  margin: 24px 0 30px 0;
}
.smallContent {
  padding: 20px 10px 20px 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
}
.smallContent .content-tittle {
  color: #131313;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.imageAndOthers {
  margin: 0 auto;
}
.imageAndOthers .image-content {
  width: 40%;
  color: white;
  background-color: #ff900e;
  padding-right: 200px;
  padding: 50px 40px;
  border-radius: 8px;
  text-align: center;
  position: relative;
  top: -104px;
  left: -80px;
}
.imageAndOthers .image-content .image-content-1 {
  font-size: 4rem;
  font-weight: 700;
}
.imageAndOthers .image-content .image-content-3 {
  font-size: 1.55rem;
  font-weight: 500;
}

/* some facts section */
.some-fact {
  /* border: 2px solid black; */
  width: 90vw;
  margin: 0 auto;
  margin-bottom: 130px;
}
.someFactContant {
  margin-bottom: 30px;
}
.cardContainer {
  margin: 0 auto;
  display: flex;
  gap: 80px;
  justify-content: space-around;
  /* border: 2px solid black; */
}
.card {
  width: 241.831px;
  margin-top: 50px;
  border-radius: 8px;
  border: 1px solid #ff900e;
  padding: 40px;
  text-align: center;
}

/* responsive for small device */
@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  nav li {
    margin-left: 18px;
  }
  .banner {
    margin: 50px auto 50px auto;
  }
  .banner-description {
    padding: 10px;
  }
  .feature-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .team-iamge {
    grid-template-columns: 1fr;
  }
  .faature-container2 {
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }
  .imageAndOthers {
    margin: 0;
  }
  .imageAndOthers img {
    width: 100%;
    height: 100%;
  }
  .imageAndOthers .image-content {
    width: 60%;
    left: 9%;
  }
  .some-fact {
    text-align: center;
  }
  .cardContainer {
    width: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card {
    width: 200px;
    margin-top: 5px;
    padding: 30px;
  }
}

/* responsive for medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
  nav {
    flex-direction: column;
    padding: 50px 0px 0px 0px;
  }
  nav ul {
    justify-content: space-evenly;
    width: 100%;
    margin-top: 50px;
  }
  .banner-description {
    margin: 0;
    padding: 60px;
  }
  .feature-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .feature-container img {
    width: 100%;
  }
  .faature-container2 {
    flex-direction: column;
    gap: 40px;
  }
  .imageAndOthers .image-content {
    left: 22%;
  }
  .cardContainer {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
  }
}
